
.peca-mock {
    position: relative;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    height: 80px;
    width: 35px;
}

.encaixavel {
    background-color: aqua;
}

.girada {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.desgirada {
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
}

.linha-no-meio {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; /* Ajuste conforme necessário para cobrir toda a largura da peça */
    background-color: black; /* Cor da linha */
    height: 2px;
}

.ponto-3 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

/* Ajuste as coordenadas conforme necessário */
.ponto-3:nth-child(4) {
    top: 5%;
    left: 5%;
    background-color: green;
}
/* ponto mais embaixo */
.ponto-3:nth-child(2) { 
    top: 30%;
    left: 60%;
    background-color: blue;
}

.ponto-3:nth-child(3) {
    bottom: 70%;
    right: 40%;
    background-color: red;
}



.ponto-5 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}

/* Ajuste as coordenadas conforme necessário */
.ponto-5:nth-child(6) {
    top: 70%;
    right: 37%;
    background-color: blueviolet;
}

.ponto-5:nth-child(9) {
    top: 55%;
    left: 8%;
    background-color: yellow;
}

.ponto-5:nth-child(8) {
    top: 83%;
    left: 8%;
    background-color: peru;
}

.ponto-5:nth-child(7) {
    top: 55%;
    left: 65%;
    background-color: orange;
}

.ponto-5:nth-child(5) {
    top: 83%;
    left: 65%;
    background-color: brown;
}






.teste-fixar {
    background-color: red;
}